* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
h1 {
    margin-bottom: 10px;
}

button, input {
    padding: 5px;
}
/* home page */
.section-box {
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}

/* result label page */

.content {
    height: 27cm;
    width: 20.4cm;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-content: flex-start;
    margin-bottom: 10px;
    /* background-color: red; */
}

.lebel {
    height: 3.5cm;
    width: 4.6cm;
    border: 1px black solid;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
}

.title {
    overflow: hidden;
    height: 80px;
}

.barcode {
    font-size: 12px;
    /* font-weight: 600; */
    width: 100%;
}

.name {
    font-size: 15px;
    font-weight: bolder
}

.price {
    font-size: 26px;
    font-weight: bolder;
    margin-left: auto;
    width: 100%;
    margin-bottom: 4px;
} 